<div id="map-modal" class="fixed z-50 top-0 left-0 w-full h-full bg-gray-500 bg-opacity-50  fade-in pointer-events-auto">
    <!-- Modal -->
  <div class="fixed z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg px-1 py-5   w-[90%]">
    <div class="absolute top-3 right-3">
      <button (click)="closeModal()" class="bg-red-500 active:bg-red-600 px-2 py-1 rounded-md font-semibold text-white">X</button>
    </div>
    <iframe width="100%" height="450" frameborder="0" style="border:0" [src]="sanitizeUrl(mapModalS.selectedAddr)" allowfullscreen></iframe>
  </div>
</div>


  