<div class="w-[90%] mx-auto mt-5">
  <h2 class="text-xl font-semibold mb-4 text-white">Recently Viewed Shops</h2>
  <ul class="space-y-4">
    <li class="bg-white p-4 rounded-lg shadow">
      <a href="#" class="flex items-center gap-2">
        <!-- <div class="w-12 h-12 rounded-full bg-gray-200"></div> -->
        <div>
          <h3 class="font-bold text-md">Example Shop 1</h3>
          <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a>
    </li>
    <li class="bg-white p-4 rounded-lg shadow">
      <a href="#" class="flex items-center space-x-4">
        <!-- <div class="w-12 h-12 rounded-full bg-gray-200"></div> -->
        <div>
          <h3 class="font-bold text-md">Example Shop 2</h3>
          <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a>
    </li>
    <li class="bg-white p-4 rounded-lg shadow">
      <a href="#" class="flex items-center space-x-4">
        <!-- <div class="w-12 h-12 rounded-full bg-gray-200"></div> -->
        <div>
          <h3 class="font-bold text-md">Example Shop 3</h3>
          <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </a>
    </li>
  </ul>
</div>