<nav class="bg-orange-400  fixed bottom-0 left-0 right-0 z-10">
    <div class="flex justify-around text-orange-100 ">
      <a href="#" class="flex flex-col shadow-sm active:shadow-inner shadow-slate-900 py-3  items-center w-1/4">
        <mat-icon>lunch_dining</mat-icon>
      </a>
      <a href="#" class="flex flex-col shadow-sm active:shadow-inner shadow-slate-900 py-3  items-center w-1/4">
        <mat-icon>menu_book</mat-icon>
      </a>
      <a href="#" class="flex flex-col shadow-sm active:shadow-inner shadow-slate-900 py-3  items-center w-1/4">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <a *ngIf="jwt.isAuthenticated()" href="#" class="flex flex-col shadow-sm active:shadow-inner shadow-slate-900 py-3  items-center w-1/4">
        <mat-icon>person</mat-icon>
      </a>
      <button (click)="modalService.toggleModal()" *ngIf="!jwt.isAuthenticated()" class="flex flex-col shadow-sm active:shadow-inner shadow-slate-900 py-3  items-center w-1/4">
        <mat-icon>person</mat-icon>

      </button>
    </div>
</nav>
  
