<div class="w-[90%]  mx-auto relative bg-zinc-800 p-4 shadow-sm shadow-zinc-500">
    <label for="food-search" class="text-slate-50 text-lg m">Search by Name</label>
    <input type="text" id="food-search" class="w-full mt-2 shadow-inner shadow-slate-900 p-3 rounded-sm" placeholder="Search for a food shop">
    <mat-icon class="absolute right-6 top-16">travel_explore</mat-icon>
</div>
<section class="p-5  shadow-md rounded-md">
    <div class="flex gap-2 mb-4 items-center  border-b-2 border-orange-800 w-full  py-2">
        <h2 class="text-2xl text-slate-50 font-bold ">Food Near You</h2>
        <mat-icon class="text-slate-50">my_location</mat-icon>
    </div>

    <!-- <app-map-modal *ngIf="modalOpen" [addr]="selectedAddr" (toggleModal)="toggleModal()"></app-map-modal> -->
    <div class="flex overflow-x-auto gap-2 pb-10">
        
        <div *ngFor="let b of businessServ.businesses" class="flex-none w-full md:w-96 lg:w-1/4 mx-auto">
            <div class="bg-zinc-800 rounded-md shadow-sm shadow-slate-600 overflow-hidden">
                <img src="{{b.image}}" alt="Food Truck Image" class="w-full h-64 object-cover">
                <div class="flex flex-col justify-center">
                    <div class="flex justify-between items-start p-3 h-20 shadow-inner shadow-slate-700">
                        <div class="flex flex-col ">
                            <h3 class="text-lg text-slate-50 font-semibold ">{{b.name}}</h3>
                            <p class="text-xs text-slate-300">Tags: {{b.category}}</p>
                        </div>
                        <!-- <p class="text-slate-300 text-sm mb-2">0.5m</p> -->
                        <!-- AIzaSyB4k-UcLnZWvmJAE625JI1aWofPZaJlcz0 -->
                        <button (click)="mapModalS.openModal(b.address)" class="text-xs text-white bg-slate-500 rounded-md px-2 py-1">{{b.address}}</button>
                    
                    </div>
                    <div class="">
                        <a routerLink="/business/{{b.id}}" class="bg-orange-500 text-white px-4 py-2 font-semibold hover:bg-orange-600 flex w-full justify-between transition-colors">
                            <p>Order Now</p> 
                            <i class="material-icons">add_box</i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

        
        
    </div>
      
      
      
      
      
</section>
  