<div class="slide-from-right max-w-[100%] min-h-screen">
    <!-- Header -->
    <header class="mx-2 py-3 flex flex-col gap-2">
        <div class="flex justify-between items-center  py-3  ">
            <a href="#" class="text-zinc-100 font-bold text-3xl">My Cart</a>
            <mat-icon class="text-white">shopping_cart</mat-icon>
        </div>
        <div *ngIf="cartS.cart.orderItems.length > 0" class="business-name flex items-center gap-2 bg-orange-400 w-fit rounded-sm py-1 px-1">
            <!-- <mat-icon class="text-orange-950 bg-orange-400 rounded-sm">star</mat-icon> -->
            <a  routerLink="/business/{{cartS.cart.businessId}}" class="text-white  text-lg">{{businessName}}</a>
        </div>
    </header>
    
    <section *ngIf="cartS.cart.orderItems.length < 1" class="mx-2">
        <p class="text-slate-300 text-sm">No items in the cart, yet.</p>
    </section>
    <section class="  py-4 flex flex-col gap-2 px-2">
        <div *ngFor="let ci of cartS.cart.orderItems; let i = index" class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
                <img src="{{ci.foodItem.image}}" alt="item image" class="rounded-lg w-32 h-20">
            </div>
            <div class="col-span-5">
                <h4 class="text-zinc-100 font-semibold text-base">{{ci.foodItem.name}}</h4>
                <div *ngIf="ci.foodItem.type != 'Drink'">
                    <p class="text-zinc-300 text-xs">{{orderItemS.getToppingsStr(ci.toppings)}}</p>
                    <p *ngIf="ci.toppings.length < 1" class="text-zinc-300 text-sm">No toppings</p>

                </div>
                <div class="flex items-center gap-2 text-white text-lg mt-1 font-semibold">
                    <mat-icon (click)="cartS.removeFromCart(i)" class=" w-5 h-5 flex justify-center items-center rounded-sm text-red-500">delete_forever</mat-icon>
                    <p (click)="cartS.updQuantity(-1, i)" class="bg-orange-400 w-5 h-5 flex justify-center items-center rounded-sm pb-1">-</p>
                    <p (click)="cartS.updQuantity(1, i)" class="bg-orange-400 w-5 h-5 flex justify-center items-center rounded-sm">+</p>
                </div>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: {{ci.quantity}}</p>
                <p class="text-zinc-100 font-semibold text-base">${{ci.total.toFixed(2)}}</p>
            </div>
            
        </div>
        <!-- <div class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
            <img src="https://via.placeholder.com/150" alt="item image" class="rounded-lg">
            </div>
            <div class="col-span-5">
            <h4 class="text-zinc-100 font-semibold text-base">Item Name</h4>
            <p class="text-zinc-300 text-sm">Item Description</p>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: 2</p>
                <p class="text-zinc-100 font-semibold text-base">$20.00</p>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
                <img src="https://via.placeholder.com/150" alt="item image" class="rounded-lg">
            </div>
            <div class="col-span-5">
                <h4 class="text-zinc-100 font-semibold text-base">Item Name</h4>
                <p class="text-zinc-300 text-sm">Item Description</p>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: 2</p>
                <p class="text-zinc-100 font-semibold text-base">$20.00</p>
            </div>
            
        </div> -->
    </section>
        
   

</div>
