<div class="slide-from-right max-w-[100%] min-h-screen">
    <!-- Header -->
    <header class=" py-3">
        <div class="flex justify-between items-center mx-2 py-3  ">
            <a href="#" class="text-zinc-100 font-bold text-3xl">My Cart</a>
            <mat-icon class="text-white">shopping_cart</mat-icon>
        </div>
    </header>
    
    <section class="  py-4 flex flex-col gap-2 px-2">
        <div class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
                <img src="https://via.placeholder.com/150" alt="item image" class="rounded-lg">
            </div>
            <div class="col-span-5">
                <h4 class="text-zinc-100 font-semibold text-base">Item Name</h4>
                <p class="text-zinc-300 text-sm">Item Description</p>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: 2</p>
                <p class="text-zinc-100 font-semibold text-base">$20.00</p>
            </div>
            
        </div>
        <div class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
            <img src="https://via.placeholder.com/150" alt="item image" class="rounded-lg">
            </div>
            <div class="col-span-5">
            <h4 class="text-zinc-100 font-semibold text-base">Item Name</h4>
            <p class="text-zinc-300 text-sm">Item Description</p>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: 2</p>
                <p class="text-zinc-100 font-semibold text-base">$20.00</p>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-3 border-b border-zinc-100 pb-3 ">
            <div class="col-span-3">
                <img src="https://via.placeholder.com/150" alt="item image" class="rounded-lg">
            </div>
            <div class="col-span-5">
                <h4 class="text-zinc-100 font-semibold text-base">Item Name</h4>
                <p class="text-zinc-300 text-sm">Item Description</p>
            </div>
            <div class="col-span-4 text-right flex flex-col justify-between">
                <p class="text-zinc-100 text-sm">Quantity: 2</p>
                <p class="text-zinc-100 font-semibold text-base">$20.00</p>
            </div>
            
        </div>
    </section>
        
   

</div>
