<div class="slide-up  pb-28">
    <app-category-nav></app-category-nav>
    <!-- <app-login-prompt *ngIf="!jwt.isAuthenticated()" class="fixed top-50 bottom-50"></app-login-prompt> -->
    <app-shop-search></app-shop-search>
    <app-shop-list></app-shop-list>
    <app-recently-viewed></app-recently-viewed>
    <!-- <div class="admin-prompt mt-16  mx-auto flex justify-center text-white">
        <a routerLink="/owner/food" class="underline active:text-slate-400">Currently own a food business?</a>
    </div> -->
    <footer class="mt-20 py-4">
        <div class="container mx-auto px-4">
          <div class="text-center text-zinc-300">
            <p>&copy; 2023 StreetEats. All rights reserved.</p>
          </div>
        </div>
    </footer>
      
    
</div>


