.fade-in {
    animation: fadeIn forwards 0.5s;
    -webkit-animation: fadeIn forwards 0.5s;
    -moz-animation: fadeIn forwards 0.5s;
    -o-animation: fadeIn forwards 0.5s;
    -ms-animation: fadeIn forwards 0.5s;
  }

  .fade-out {
    animation: fadeOut forwards 0.7s;
    -webkit-animation: fadeOut forwards 0.7s;
    -moz-animation: fadeOut forwards 0.7s;
    -o-animation: fadeOut forwards 0.7s;
    -ms-animation: fadeOut forwards 0.7s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  

  /* #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */



@media screen and (max-height: 800px) {
  .cst-max-h{
    max-height: 600px;

  }
}

@media screen and (max-height: 568px) {
  .cst-max-h{
    max-height: 550px;

  }
}

@media screen and (max-height: 480px) {
  .cst-max-h{
    max-height: 450px;

  }
}